.detailedView{
    margin-left: 200px;
    margin-top: 100px;
}
.UpdateButton{
    margin-left: 250px;
}
#UpdateButton{
    background-color: rgb(0, 204, 255);
    background-size: auto;
}
#UpdateButton:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(72, 126, 206);
    background-size: auto;
}

/*
input{
    border-radius: 20px;
    padding: 20px; 
    background: lightblue;
}

*/
.grid-containerDetailedView{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 500px;
    padding-right: 500px;
}
.grid-itemDetailedView{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    background-color: rgb(171, 207, 236);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.makeBold, .winnerHorse{
    font-weight: bold;
}

.DetailedViewItems, .HorseList, .addHorse, .raceStatus{
    margin-left: 30px;
}
#colorPicker{
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    background-color: white;
}
#colorPicker:hover{
    cursor: pointer;
    border-radius: 30px;
}
