#loginlehenupp1{
    background-color: rgb(0, 204, 255);
    background-size: auto;
    transform: scale(2);
}
#loginlehenupp1:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(72, 126, 206);
    background-size: auto;
    transform: scale(2);
}
#loginlehenupp2{
    background-color: rgb(0, 204, 255);
    background-size: auto;
    transform: scale(1.2);
}
#loginlehenupp2:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(72, 126, 206);
    background-size: auto;
    transform: scale(1.2);
}

.ant-form label {
    font-size: 35px;
}
.loginPage{
    margin-top: 200px;
}
