#numbrike{
    font-size: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
  
.grid-container > div {
    text-align: center;
    font-size: 40px;

}
  
.grid-item {
    grid-column-start: 1;
    grid-column-end: 4;
}

#regalehenupp1{
    background-color: aquamarine;
    background-size: auto;
    transform: scale(2);
}
#regalehenupp1:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    background-size: auto;
    transform: scale(2);
}
#paroolconfirm{
    padding-bottom: 20px;
}
#regalehenupp2{
    background-color: aquamarine;
    background-size: auto;
    transform: scale(1.3);
}
#regalehenupp2:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    background-size: auto;
    transform: scale(1.3);
}

.ant-form label {
    font-size: 35px;
}
